@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

$font-intro: Baloo;

h1 {
  padding-top: 3%;
  padding-left: 10%;
  font-family: $font-intro;
}

.Signbtn {
  padding-top: 56%;
  padding-left: 25%;
}




