<nav class="navbar navbar-expand-sm bg-light justify-content-center">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Miss Bethany</a>
    </div>
      <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Account</a>
      </li>
    </ul>
    
  </nav>
