/* You can add global styles to this file, and also import other style files */

body {
  background-size: 1780px;
  background-image: url(assets/Images/flower-background.jpg);
  background-color: orange;
  background-blend-mode: lighten;
}
